@import url('https://fonts.googleapis.com/css2?family=Carlito:wght@400;700&display=swap');

html, body {
  overflow-x: hidden; /* Hide horizontal overflow */
  width: 100%; /* Ensure the width is 100% of the viewport */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #37474f; /* Fallback color */
  background-image: linear-gradient(to bottom, #1f1f1f, #272727);
  color: #e0e0e0;
  line-height: 1.6;
  font-family: 'Carlito', sans-serif;
}

a {
  color: #add8e6;
}

a:visited {
  color: #b0e0e6;
}

a:hover {
  color: #64ffda;
}


.github-icon,
.discord-icon,
.youtube-icon {
  font-size: 35px;
  color: #e0e0e0 !important;
  text-decoration: none;
  margin-left: 10px;
  vertical-align: middle;
  line-height: 0%;
}

.github-icon:hover,
.discord-icon:hover,
.youtube-icon:hover {
  color: #64ffda  !important;
}

.content {
  padding-top: 10px;
  padding-left: 20px;
  max-width: 800px !important;
  margin-right: 20px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 5px;
}

p {
  margin: 0;
}

.responsive-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 20px;
}

.responsive-embed canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-embed iframe,
.responsive-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
