{% extends "examples/examples_base.html" %}

{% block example_content %}
<h2>Sayle Computer Vision Flight Bot Examples
  <a href="https://github.com/thinnerthinker/sayle" class="github-icon" target="_blank">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://www.youtube.com/@thinnerthinker2-mb9td/videos" class="youtube-icon" target="_blank">
    <i class="fab fa-youtube"></i>
  </a>
</h2>

<p>This project is no longer being maintained, but you can still watch the videos of some test runs.</p>

<p>All videos are from my <a href="https://www.youtube.com/@thinnerthinker2-mb9td/videos">B-Roll channel</a>, please
  subscribe.</p>

<h3>The first success: Binary Sweep Scores</h3>
<div class="responsive-embed">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/FqGVT8cOwoQ?si=JjO8J1zhtAHr-M_r"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<h3>Long ago when I thought it would work</h3>
<div class="responsive-embed">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/BNk1DuGmhh8?si=ZZVoZ89ykL91ampN"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<h3>Oldest recorded footage of early successes</h3>
<p>With noises as I wandered the kitchen</p>
<div class="responsive-embed">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/hGsgxrCH3vk?si=-XiquG9lFdKVk_9k"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

{% endblock %}