{% extends "examples/examples_base.html" %}

{% block example_content %}
<h2>Sursface Examples in WASM
  <a href="https://github.com/thinnerthinker/sursface" class="github-icon" target="_blank">
    <i class="fab fa-github"></i>
  </a>
</h2>

<h3>Hello Window</h3>
<div class="responsive-embed">
  <canvas id="hello-window" class="full-width-canvas" width="640" height="360"></canvas>
</div>
<script type="module">
  import init, { start_browser } from '/assets/sursface_examples/hello_window.js';
  async function run() {
    await init();
    start_browser(document.getElementById("hello-window"));
  }

  run();
</script>

<h3>Hello Triangle</h3>
<div class="responsive-embed">
  <canvas id="hello-triangle" class="full-width-canvas" width="640" height="360"></canvas>
</div>
<script type="module">
  import init, { start_browser } from '/assets/sursface_examples/hello_triangle.js';
  async function run() {
    await init();
    start_browser(document.getElementById("hello-triangle"));
  }

  run();
</script>

{% endblock %}